body {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  width: 100%;
}



.header {
  padding-top: 20px;
  display: flex;
  flex-direction: row;
  background-color: #57276a;
  width: 100%;
  height: 75px;
  color: white;
  font-weight: bold;
  font-size: 45px;
  text-align:center;
  align-items: center;
  border-bottom: 8px solid #3c1949;
}

#elementos{
  display: flex;
  padding: 0 30px 20px 100px;
  align-items:center ;
  width: 100%;
  justify-content: space-between;
}
#elementosC{
  display: flex;
  padding: 0 10px 10px 100px;
  align-items:center ;
  width: 50%;
  justify-content: space-between;
}

#bVoltar{
  border-radius: 10px;
  width: 100px;
  height: 50px;
  background-color: #8852a3;
  border: none;
  color: #fff;
  font-size: 15px;
  font-weight: bold;
}

.bot{
  align-items: center;
  border-radius: 100%;
  width: 75px;
  height: 75px;
  background-color: #8852a3;
  border: none;
  color: #fff;
  font-size: 15px;
  border: 2px solid white;

}

.repertorio {
  background-color: #b685c8;
  height: 580px;
  padding: 0 0 13px 200px;

}

#reper {
  display: flex;
  flex-direction: row;
  text-align: center;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:right;
  padding: 50px 70px 10px 0;
}

.nomes {
  background-color: #8f52a8;
  border-radius: 30px;
  border: none;
  width: 335px;
  height: 60px;
  font-size: 35px;
  text-align: center;
  border-bottom: 5px solid #3c1949;
}


#lista{ 
  border-radius: 10px;
  color: white; 
  background-color: #511e63; 
  font-size: 25px;
  display: none; 
padding: 10px 10px 10px 20px;
  width: 1100px;

}

#input_senha{
  background-color: rgb(158, 99, 214);
  border-radius: 30px;
  border: none;
  color: white;
  height: 20px;
  font-size: 15px;
}

#bIr{
  background-color: rgb(158, 99, 214);
  width: 30px;
  height: 30px;
  color: white;
  font-weight: bold;
  border-radius: 100%;
  border: none;

}

a{
  color: white;
text-decoration: none;
}

.fotos {
  border-radius: 100%;
  width: 320px;
  height: 320px;
  border: 6px solid #3c1949;
}

.footer {
  background-color: #57276a;
  width: 100%;
  height: 17px;
}

.corpo {
  display: flex;
  flex-direction: row;
}

.dados {
  width: 300px;
  height: 563px;
  display: flex;
  flex-direction: column;
  background-color: rgb(213, 173, 231);
  padding: 50px 10px 0 30px;
  text-align:justify;
  justify-content: flex-start;
  border-right: 5px solid #57276a;
}


#textDados{
  color: aqua;
}

.bibliografia {
  text-align: justify;
  padding: 20px;
  width: 880px;
  align-items: center;
  padding: 0 0 0 70px ;
  font-size: 20px;
  font-weight:bold;
  color: #3c1949;
}


.input_dados{
    border-radius: 5px;
    width: 250px;
    height: 23px;
    background-color: #8852a3;
    border: none;
    color: #fff;
    font-size: 15px;
}

.input_dados::placeholder{
  color: white;
  font-size: 15px;
}


#input_subT{
  background-color: rgb(149, 103, 171);
  width: 900px;
  height: 30px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  border: none;
  padding: 6px 20px
  
}

#input_bio{
  background-color: rgb(149, 103, 171);
  width: 900px;
  height: 200px;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  margin: 10px;
  border: none;
  padding: 6px 20px;
}

.texDados{
color: #3c1949;
font-weight: bold;
  font-size: 16px;

}

.botao{
  background-color: #57276a;
  width: 200px;
  height: 60px;
  border-radius: 5px;
  color: #fff;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  border: none;
  padding: 6px 20px

}

